@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

  
body{
    width: 100%;
    /* font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.togglebt{
  margin-left: 5px;
  padding: 0;
}

.header{
  width: 100%;
  
}
.Home{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  scroll-behavior: smooth;
}

.Trybtn{
  background-color: #FFB62E;
}

.newNav ul li{
   margin-right: 20px;
}
.HomeCardTitle {
      font-size: 40px;
      font-weight: 900;
    }
.Trybtn{
  width: 30%;
}

.bgprimay{
    background-color: #F0F5FF;
}

.Logo{
  width: 50px;
}
.Logos{
  width: 40% !important;
}
.imgblowtext{
   font-size: 20px;
}

.roundimg1{
  width: 2.5rem;
}

.cmtcardbio{
  font-size: 13px;
}


::-webkit-scrollbar{
  display: none;
}

/* @media only screen and (max-width: 500px) {
  .company-logos {
      align-items: center;
      width: 100%;
    }
} */
@media only screen and (max-width: 600px){
  .HomeCardTitle {
      font-size: 27px;
    }
        .Trybtn {
          width: 100%;
        }
                .Homeimg {
                  padding-top: 10px;
                }
                                .Logo {
                                  width: 50px;
                                }
                                .Logos {
                                  width: 100% !important;
                                }
                                .livetext {
                                  font-size: 12px;
                                }
                              .LiveClasses{
                                font-size: 20px;
                              }
                             .videobio{
                               text-align: center;
                             }
                            
}

.pngimg{
   width: 300px;

}

@media only screen and (max-width: 800px){
  .Logo {
      width: 50px;
    }
  
    .Logos {
      width: 100% !important;
    }
           
      
}

@media only screen and (min-width: 1000px){
  .lgcomicon1{
     width: 130px;
  }
    .lgcomicon2{
      width: 90px;
    }
    .lgcomicon3{
      width: 90px;
    }.lgcomicon4 {
      width: 60px;
    }
}
@media only screen and (min-width: 600px){
   .company-logos{
    width: 80%;
   }
   .videobio{
    width: 45%;
   }
}

.logcard {
  background-color: blue;
}
.mediaicons{
    box-shadow: 2px 2px 8px skyblue;
}


@media only screen and (min-width: 700px) and (max-width: 1000px){
     .CourseCard{
       width: 27rem;
     }
        
     
       
}


@media only screen and (min-width: 1300px){
  .cardss .card {
      margin: 20px;
      width: 30%;
    }
    .video1{
      height: 300px;
      width: 500px;
    }
    .veri{
      margin-left: 180px;
    }
}




/* ---blog---------- */
.blogsection{
   margin-top: 150px;
}

@media (max-width: 576px) {
      .pngimg{
        width: 150px;
        height: 150px;
      }
      .LernBtn{
         height: 40px;
         font-size: 15px;
      }
      .Rebytext{
         font-size: 6px;
      }
}

@media (min-width: 700px)
{
  .serchblog{
    width: 600px;
  }
}

.blogcardsshadow{
   box-shadow: 3px 5px 8px silver;
}




/* ------------System Design Simplified ---------------- */

/* .cardswidthSDY{
   width: 20%; 
} */

@media only screen and (min-width: 992px){
    .cardswidthSDY {
        width: 100%;
        margin-top: -230px;
      }
        
      .SDScards{
          background-color: #2D67D3;
      }
             .sysinfocard {
               margin-left: 40px;
             }
                         .cardswidthSDY {
                           width: 120%;
            
                         }
}

@media only screen and (max-width: 992px) {
  .cardswidthSDY {
    width: 100%;
    border: none;
    /* margin: 1rem; */

  }
   
  /* .smallscreencardsys{
    margin-top: 120px;
    margin-left: 20px;
  } */

}


.SDScards{
    margin-top: 80px;
      /* width: 100%; */
      /* background-color: #2D67D3; */
      /* height: 300px; */
        color: white;
}

/* .card01{
  margin-right: 40px;
} */

.sysinfocard{
  border: 1px solid blue;
 
}

.content{
   border: 1px solid blue;
}

/* .card01{
  position: relative;
  
} */
.smcard{
  margin-top: 100px;
}

.header{
   box-shadow: 3px  1px silver;
}

.GauracSenInstructor{
  width: 250px;
}

/* .WhatApp{
  position: fixed;
  right: 30px;
  
} */

.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 15px;
  background-color: #00ff5e;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 2px 3px 5px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}




/* ----------login user---- */

.showiocn{
  border: 2px solid rgb(111, 106, 106);
  border-radius: 50%;
  /* padding: 2px; */
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 25px;
  margin-top: 3px;
}

.shopicon {
  border: 2px solid rgb(111, 106, 106);
  border-radius: 50%;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 25px;
  margin-top: 3px;
}

.brandnamelgsc{
  font-family: serif;
  letter-spacing: 2px;
}
.yourcourse{
  padding-top: 80px;

  background-color: #F0F5FF;
}


.yourcoursecardsec{
  background-color: #ffffff;
}
.cardshowdo{
   box-shadow: 0px 2px 4px 3px rgb(230, 224, 224);
}

.Selectcourse{
  padding-top: 80px;
}

.carddd{
   border: 1px solid rgb(229, 218, 218);
  height: 110px;
background-color: #F5F6FA;
}

@media only screen and (min-width: 600px){
  .carddd {
      height: 150px;
    }
}

.totalcard{
  background-color: #F5F6FA;
  border: 1px solid rgb(229, 218, 218);
  width: 100%;
  height: 280px;
}

.totalpricesec{
  width: 100%;
  background-color: #eceff3;
  
}


@media only screen and (max-width: 760px){
   .pricefooter {
    margin-top: 170px;
  }
}

