@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

  
body{
    width: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}



.togglebt{
  margin-left: 5px;
  padding: 0;
}

.header{
  width: 100%;
  
}
.Home{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  scroll-behavior: smooth;
}

.Trybtn{
  background-color: #FFB62E;
}

.newNav ul li{
   margin-right: 20px;
}
.HomeCardTitle {
      font-size: 40px;
      font-weight: 900;
    }
.Trybtn{
  width: 30%;
}

.bgprimay{
    background-color: #F0F5FF;
}

.Logo{
  width: 50px;
}
.Logos{
  width: 40% !important;
}
.imgblowtext{
   font-size: 20px;
}

.roundimg1{
  width: 2.5rem;
}

.cmtcardbio{
  font-size: 13px;
}


::-webkit-scrollbar{
  display: none;
}

/* @media only screen and (max-width: 500px) {
  .company-logos {
      align-items: center;
      width: 100%;
    }
} */
@media only screen and (max-width: 600px){
  .HomeCardTitle {
      font-size: 27px;
    }
        .Trybtn {
          width: 100%;
        }
                .Homeimg {
                  padding-top: 10px;
                }
                                .Logo {
                                  width: 50px;
                                }
                                .Logos {
                                  width: 100% !important;
                                }
                                .livetext {
                                  font-size: 12px;
                                }
                              .LiveClasses{
                                font-size: 20px;
                              }
                             .videobio{
                               text-align: center;
                             }
                            
}

.pngimg{
   width: 300px;

}

@media only screen and (max-width: 800px){
  .Logo {
      width: 50px;
    }
  
    .Logos {
      width: 100% !important;
    }
           
      
}

.logcard {
  background-color: blue;
}
.mediaicons{
    box-shadow: 2px 2px 8px skyblue;
}


@media only screen and (min-width: 700px) and (max-width: 1000px){
     .CourseCard{
       width: 27rem;
     }
        
     
       
}


@media only screen and (min-width: 1300px){
  .cardss .card {
      margin: 20px;
      width: 30%;
    }
    .video1{
      height: 300px;
      width: 500px;
    }
    .veri{
      margin-left: 180px;
    }
}




/* ---blog---------- */
.blogsection{
   margin-top: 150px;
}

@media (max-width: 576px) {
      .pngimg{
        width: 150px;
        height: 150px;
      }
      .LernBtn{
         height: 40px;
         font-size: 15px;
      }
      .Rebytext{
         font-size: 6px;
      }
}

@media (min-width: 700px)
{
  .serchblog{
    width: 600px;
  }
}

.blogcardsshadow{
   box-shadow: 3px 5px 8px silver;
}




/* ------------System Design Simplified ---------------- */

.SDSblue{
  margin-top: 80px;
   width: 100%;
   height: 280px;
   background-color: #2D67D3;
   color: white;
}
